:root {
  --sidebar-width: 200px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

 /*FADE ANIMATIONS*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

*::-webkit-scrollbar {
  display: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s ease-out;
  width: calc(var(--sidebar-width));
  z-index: 4;
  overflow-y: auto;
}

.sidebar-closed {
  right: calc(calc(var(--sidebar-width) + 40px) * -1);
}

.product-display {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  padding: 20px;
  position: fixed;
  right: 15vw;
  top: 10vh;
  transition: 0.3s ease-out;
  width: 70vw;
  height: 70vh;
  z-index: 4;
  overflow-y: auto;
}

.product-display-closed {
  transition: 600ms ease-in-out;
  transition-delay: 500ms;
  right: -80vw;
  opacity: 1;
}