name: Docs checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
    paths:
      - 'docs/**'
  # Enable running this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    if: ${{ vars.DEPLOY_DOCS == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install packages
        working-directory: ./docs
        run: npm install
      - name: Run build
        working-directory: ./docs
        run: npm run build
